nav{
    background-color:black;
    display: flex;
}
.navbar{
    padding: 30px 30px;
    text-align: center;
}
.navcont{
    float: left;
    text-align: center;
}
button{
    background-color: orange;
}
.split{
    float: inline-end;
    padding: px 30px;
}

.mergecontainer{
    display: flex;
    background-image: url(../agriplus\ images/image\ 1.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.mergecontainer .image1 img{
    max-width: 100%;
    max-height: 100%;
}
.mergecontainer .image1{
    flex: 1;
}

.mergecontainer .intro{
    margin-left: 30px;
    margin-top: 10px;
    flex: 1;
}
.mergecontainer .intro h2{
    letter-spacing: 2px;
    font-weight: bolder;
}
.mergecontainer .intro p{
    margin-top: 8px;
    font-weight: 600;
    /* font-size: 12px; */
}
.mergecontainer .intro button{
    color: wheat;
    background-color: orange;
    margin-bottom: 85px;
    margin-top: 20px;
    height: 38px;
    border: none;
    padding: 10px;
    font-weight: 900;
}
.stats{
    display: flex;
    width: 50px;
    height: 80px;
    margin: auto;
    align-items: center;
    position: relative;
    justify-content: space-between;
    top: -70px ;
    right: -50px;
}
.numbers .stats{
    text-align: center;
    height: 40px;
    margin: 10px;
}
.stats .numbers p{
    font-size: 12px;
    font-weight: bold;
}
.objectives .aim{
    text-align: left;
    border-left: 20px;
}
.objectives .aim h2{
    font-weight: bolder;
    font-size: 30px;
}
.objectives .aim p{
    font-size: 18px;
    
}
.objectives .imagec{
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    
}
.categories{
    text-align: center;
}
.categories p{
    font-size: 18px;
    padding: -5px;
}
.categories h2{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.popular .products{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    border: 10px 10px;
    padding: 5px 2px;
}
.popular .products .items{
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    border: 10px 10px;
    padding: 5px 5px;
    justify-content: space-between;
}
.feedback .fintro{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.feedback .fb{
    display: flex;
    justify-content: space-evenly;   
}
.feedback .fb .feeds{
    padding: 10px;
    border-bottom-width: 10px;
    box-sizing: border-box;
    box-shadow: grey;
    justify-content: stretch;
    clear: both;
}
.feedback{
    box-sizing: border-box;
    border: 30px;
    box-shadow: grey;
}
.feedback .fb .feeds .checked {
    color: orange;
    
}
.feedback .fb .feeds h3{
    float: right;
    margin-left: 10px;
}
.feedback .fb .feeds .avatar{
    width: 40px;
    height: 40px;
    border-radius: 40%;
}
.more{
    margin-left: 1500px;
    font-size: 20px;
    font-weight: bold;
    padding: 60px;
}
.subscribing .point{
    font-size: 20px;
}
.subscribing{
    background-color: black;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    padding: 35px;
}
footer .list img{
    max-width: 20%;
    max-height: 40%;
} 

footer .list{
    display: flex;
    
}
footer .list ul p{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}
footer .list ul h3{
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.icons{
    justify-content: space-evenly;
    padding: 20px;
    font-size: 25px;
    display: flex;
    width: 20px;
    margin: 5px 2px;
    border-radius: 40%;
}
footer .list ul h2{
    font-size: 34px;
    font-weight: bolder;
}
footer .footers{
    display: flex;
}
footer .closing{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    padding: 25px;
}
footer{
    background-color: black;
}



